@font-face {
    font-family: 'Gill Sans';
    src: url('GillSansStd.otf') format('opentype');
}
body{
    background-color: rgb(157, 183, 238);
}
.wone{
    width: 50px;
    height: 300px;
    margin-left: 50px;
    background-color: aquamarine;
    transform: skewX(20deg);
    display: inline-block;
}
.wtwo{
    width: 50px;
    height: 300px;
    margin-left: 50px;
    background-color: aquamarine;
    transform: skewX(-20deg);
    display: inline-block;
}
.wthree{
    width: 50px;
    height: 300px;
    margin-left: 50px;
    background-color: aquamarine;
    transform: skewX(20deg);
    display: inline-block;
}
.wfour{
    width: 50px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: aquamarine;
    transform: skewX(-20deg) ;
    display: inline-block;
}
.zone{
    width: 180px;
    height: 30px;
    transform: skewX(-30deg);
    background-color: bisque;
    margin-left: 50px;
}
.ztwo{
    width: 30px;
    height: 240px;
    transform: skewX(-40deg);
    background-color: bisque;
    margin-left: 100px;
}
.zthree{
    width: 180px;
    height: 30px;
    transform: skewX(-30deg);
    background-color: bisque;
    margin-right: 50px;
    display: inline-block;
}
.bone{
    width: 200px;
    height: 140px;
    background-color: rgb(230, 253, 196);
    border-radius: 0px 75px 75px 0px;
    margin-left: 50px;
}
.btwo {
    width: 230px;
    height: 160px;
    background-color: rgb(230, 253, 196);
    border-radius: 0px 75px 75px 0px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}
.rone{
    width: 200px;
    height: 140px;
    background-color: rgb(141, 250, 250);
    border-radius: 0px 75px 75px 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.rtwo{
    width: 50px;
    height: 160px;
    background-color:rgb(141, 250, 250) ;
    display: inline-block;
    margin-left: 50px;
}
.rthree{
    width: 50px;
    height: 160px;
    background-color:rgb(141, 250, 250) ;
    transform: skewX(30deg);
    margin-left: 50px;
    display: inline-block;
}
.done{
    width: 30px;
    height: 300px;
    background-color: lemonchiffon;
    margin-left: 50px;
    display: inline-block;
}
.dtwo{
    width: 150px;
    height: 300px;
    background-color: lemonchiffon ;
    border-radius: 0px 110px 110px 0px;
    display: inline-block;
    margin-right: 50px;
}
.dtwoone{
    width: 30px;
    height: 300px;
    background-color: lemonchiffon;
    margin-left: 50px;
    z-index: 0;
    display: inline-block;
}
.dtwotwotwo{
    width: 150px;
    height: 300px;
    background-color: lemonchiffon ;
    border-radius: 0px 110px 110px 0px;
    display: inline-block;
    z-index: 5;
    margin-right: 50px;
}
.din{
    width: 90px;
    height: 240px;
    border-radius: 0px 80px 80px 0px;
    background-color: aliceblue;
    z-index: 10;
    filter: drop-shadow(5px 0px 4px crimson);
    position: absolute;
    margin-left: 80px;
    margin-top: -270px;
}
.wtwoone{
    width: 50px;
    height: 300px;
    transform: skewX(20deg);
    border-radius: 25px;
    margin-left: 50px;
    background-color: rgb(220, 240, 255);
    opacity: .5;
    display: inline-block;
}
.wtwotwo{
    width: 50px;
    height: 300px;
    border-radius: 25px;
    margin-left: 50px;
    background-color: rgb(84, 245, 191);
    transform: skewX(-20deg);
    opacity: .5;
    display: inline-block;
}
.wtwothree{
    width: 50px;
    height: 300px;
    border-radius: 25px;
    margin-left: 50px;
    background-color: rgb(234, 164, 250);
    transform: skewX(20deg) ;
    opacity: .5;
    display: inline-block;
}
.wtwofour{
    width: 50px;
    height: 300px;
    border-radius: 25px;
    margin-left: 50px;
    background-color: rgb(169, 242, 255);
    transform: skewX(-20deg);
    opacity: .5;
    display: inline-block;
    margin-right: 50px;
}
.w, .b, .z, .r, .d, .dwhole, .wsecond{
    display: inline-block;
    margin: 20px;
}
.dtwotwo{
    filter: drop-shadow(10px 0px 0px rgb(220, 20, 213));
}


